.mainHead{
  background-color: rgb(44, 44, 42);
  width: 100%;
  padding: 15px;

}
.mainHead button{
  margin-left: 20px
}
.nav{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 15px;
}
.nav ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.nav ul li {
  display: inline-block;
  margin: 0px 40px;
}
.nav ul li a {
  font-family: Arial;
  font-size: 25px;
  font-weight: 600;
  color: rgba(255, 254, 254, 0.993);
  text-transform: uppercase;
}