*{
  box-sizing: border-box;
}
.main-div{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
}
nav{
  overflow: hidden;
  background: #000000;
  line-height: 40px;
}
nav a{
  float: left;
  display: block;
  width: 120px;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  font-size: 16px;
}
nav a:hover{
  background: #ddd;
  color: black;
}
nav a.active{
  background: #fa2828;
  color: #fff;
}
nav .container{
  float: right;
  margin-right: 100px;
  margin-top: 10px;
}
nav input[type=text],input[type=password]{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px;
}
.container button{
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #2196f3;
  color: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.container button:hover{
  background: #ccc;
}
.nav2{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 15px;
}
.nav2 ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.nav2 ul li {
  display: inline-block;
  margin: 0px 40px;
}
.nav2 ul li a {
  font-family: Arial;
  font-size: 25px;
  font-weight: 600;
  color: rgba(255, 254, 254, 0.993);
  text-transform: uppercase;
}